AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz/
AffectGPT/output/emotionllama_affectgpt_UniBench/
AffectGPT/output/emotionllama_mybuild/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_new/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame/
AffectGPT/output/mercaptionplus_outputhybird_bestsetup_bestfusion_frame_lz/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_old/
AffectGPT/output/log_information/
