AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz/
AffectGPT/output/emotionllama_affectgpt_UniBench/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame/
AffectGPT/output/mercaptionplus_outputhybird_bestsetup_bestfusion_frame_lz/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_old/
AffectGPT/output/log_information/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_original/
AffectGPT/preextracted_features_old/
AffectGPT/preextracted_features/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_peak1/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_peak/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_au_Nonverbal/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_au_Nonverbal1/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal1/
AffectGPT/output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_peak/
AffectGPT/unuse_file/
AffectGPT/output/au_agent_qwen2.5_7b_lora/
AffectGPT/au_agent_finetune/
